<html ng-app="socialApp">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
     maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="dependencies/css/angular-material.min.css">
    <link href="dependencies/css/Material+Icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <title>The Social Network</title>
</head>

<body layout="column" ng-controller="AppController as AppCtrl">
    <!--Toolbar-->
    <div ng-controller="ToolbarController as tbc">
        <!--Main Toolbar -->
        <md-toolbar style="height: 48px;" layout="row" ng-hide="tbc.showSearch()" layout-align="center center" md-whiteframe="5">
            <md-button style="margin-left: 10px;" class="padMarg0 reduceWidth" ng-hide="showButton" aria-label="menu" ng-click="toggleIcons()">
                <md-icon md-font-set="md">menu</md-icon>
            </md-button>
            <md-button style="margin-left: 10px;" class="padMarg0 reduceWidth" ng-show="showButton" aria-label="menu" ng-click="toggleLeft()">
                <md-icon md-font-set="md">menu</md-icon>
            </md-button>
            <span flex="0" flex-gt-xs="3" flex-gt-sm="5" gt-md></span>
            <h3 class="padMarg0">Dashboard</h3>
            <span flex></span>
            <md-button class="padMarg0 reduceWidth" aria-label="search" ng-click="tbc.toggleSearch()">
                <md-icon md-font-set="md">search</md-icon>
            </md-button>
            <md-menu>
                <md-button class="padMarg0 reduceWidth" ng-click="$mdOpenMenu($event)" class="md-icon-button">
                    <md-icon md-font-set="md" md-menu-origin>phone</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button class="padMarg0">
                            <md-icon class="md">call</md-icon>Item 1</md-button>
                    </md-menu-item>
                    <md-menu-item class="padMarg0">
                        <md-button>
                            <md-icon class="md">call</md-icon>Item 2</md-button>
                    </md-menu-item>
                    <md-menu-item class="padMarg0">
                        <md-button>
                            <md-icon class="md">call</md-icon>Item 3</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button style="margin-right: 10px;" class="padMarg0 reduceWidth" aria-label="options" ng-click="tbc.toggleSidenav('right')">
                <md-icon md-font-set="md">more_vert</md-icon>
            </md-button>
        </md-toolbar>
        <!--Search Toolbar -->
        <md-toolbar layout="row" class="md-hue-1" ng-show="tbc.showSearch()" layout-align="center center" md-whiteframe="5">
            <div style="padding-left: 5px;" class="md-toolbar-tools">
                <md-button class="padMarg0 reduceWidth" ng-click="tbc.toggleSearch()" aria-label="Back">
                    <md-icon md-font-set="md">arrow_back</md-icon>
                </md-button>
                <md-input-container md-theme="input" flex>
                    <label>&nbsp;</label>
                    <input placeholder="enter search" />
                </md-input-container>
                <md-button class="padMarg0 reduceWidth" aria-label="search" ng-click="tbc.toggleSearch()">
                    <md-icon md-font-set="md">search</md-icon>
                </md-button>
                <md-button class="padMarg0 reduceWidth" aria-label="options" ng-click="tbc.toggleSidenav('right')">
                    <md-icon md-font-set="md">more_vert</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </div>
    <div layout="row" layout-fill role="main" style="overflow: hidden;">
        <!--Fab button -->
        <md-button class="md-fab md-fab-bottom-right" aria-label="add">
            <md-icon md-font-set="md">add</md-icon>
        </md-button>
        <!--Content Area-->
        <md-content flex md-scroll-y layout="row">
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-10dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-class="{'noText': iconsOnly}">
                <md-list ng-controller="SidenavController as sc">
                    <!--Item 1 -->
                    <md-list-item ng-repeat="setting in sc.settings" layout="row" class="left-sidenav" href="{{setting.url}}" layout-align="start start">
                        <a class="sidenavLink" md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <md-icon md-font-set="md">{{setting.icon}}</md-icon>
                            </div>
                            <div class="inset" ng-class="{'none': iconsOnly}">{{setting.name}}</div>
                        </a>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader ng-class="{'none': iconsOnly}">Management</md-subheader>
                    <!--Item 1 -->
                    <md-list-item ng-repeat="label in sc.labels | limitTo: 1">
                        <a md-ink-ripple class="sidenavLink" layout="row" layout-align="start center">
                            <div class="inset">
                                <md-icon md-font-set="md" style="color:{{label.color}}">open_in_new</md-icon>
                            </div>
                            <div class="inset" ng-class="{'none': iconsOnly}">{{label.name}}</div>
                        </a>
                    </md-list-item>

                </md-list>
            </md-sidenav>
            <div flex ui-view style="display: flex; justify-content: center; align-items: center;"></div>
            <!--Right Sidenav-->
            <md-sidenav class="md-sidenav-right" md-white-frame="10" md-component-id="right">
                <md-tabs md-stretch-tabs md-center-tabs md-border-bottom>
                    <md-tab id="tab1">
                        <md-tab-label>One</md-tab-label>
                        <md-tab-body>
                            <md-toolbar class="md-hue-2" style="min-height: 48px;">
                                <span flex></span>
                                <div layout="column" class="md-toolbar-tools-bottom inset">
                                    <div>
                                        <user-avatar></user-avatar>
                                    </div>
                                    <div>Firstname Lastname</div>
                                    <div>email@domain.com</div>
                                </div>
                            </md-toolbar>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab2">
                        <md-tab-label>Two</md-tab-label>
                        <md-tab-body>
                            View for Item #2 <br/> data.selectedIndex = 1;
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="tab3">
                        <md-tab-label>Three</md-tab-label>
                        <md-tab-body>
                            View for Item #3 <br/> data.selectedIndex = 2;
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-sidenav>
        </md-content>
    </div>



    <script src="dependencies/js/angular.min.js"></script>
    <script src="dependencies/js/angular-animate.min.js"></script>
    <script src="dependencies/js/angular-aria.min.js"></script>
    <script src="dependencies/js/angular-messages.min.js"></script>
    <script src="dependencies/js/angular-touch.min.js"></script>
    <script src="dependencies/js/angular-material.min.js"></script>
    <script src="dependencies/js/angular-ui-router.min.js"></script>

    <script src="js/app.js"></script>
    <!--controllers -->
    <script src="js/controllers/ToolbarController.js"></script>
    <script src="js/controllers/SidenavController.js"></script>
    <script src="js/controllers/AppController.js"></script>
    <script src="js/controllers/ContactsController2.js"></script>
    <!--directives -->
    <script src="js/directives/userAvatar.js"></script>

</body>

</html>